apiVersion: v1
kind: Service
metadata:
  name: node-exporter-service
spec:
  type: NodePort
  selector:
    app: node-exporter
  ports:
    - name: metrics
      port: 9100
      targetPort: 9100
      nodePort: 30910
